.article.dark.entry-header
  .sidebar-left
    &nbsp;
  .bookmark
    <a href="#{hatena_url(@entry.feed_url)}" class="hatena-bookmark-button" data-hatena-bookmark-title="#{@entry.title}" data-hatena-bookmark-layout="vertical" title="このエントリーをはてなブックマークに追加"><img src="http://b.st-hatena.com/images/entry-button/button-only.gif" alt="このエントリーをはてなブックマークに追加" width="20" height="20" style="border: none;" /></a><script type="text/javascript" src="http://b.st-hatena.com/js/bookmark_button.js" charset="utf-8" async="async"></script>
    <div class="fb-like" data-href="#{facebook_url(@entry.feed_url)}" data-send="false" data-layout="box_count" data-width="80" data-show-faces="true" data-font="lucida grande"></div>
  .content
    %h2.entry= @entry.title
    .meta
      %span.date published at #{@entry.date}
  .sidebar-right
    &nbsp;

.article.light
  .sidebar-left
    &nbsp;
  .bookmark
    &nbsp;
  .content
    .content-inner
      #{raw @entry.content}
      <!-- X:S ZenBackWidget --><script type="text/javascript">document.write(unescape("%3Cscript")+" src='http://widget.zenback.jp/?base_uri=http%3A//blog.mah-lab.com&nsid=96954274717664984%3A%3A96954281160139513&rand="+Math.ceil((new Date()*1)*Math.random())+"' type='text/javascript'"+unescape("%3E%3C/script%3E"));</script><!-- X:E ZenBackWidget -->
      .next-prev
        - if @next
          .next
            次の記事
            = link_to @next.title, @next.url
        - if @prev
          .prev
            前の記事
            = link_to @prev.title, @prev.url
  .sidebar-right
    &nbsp;
