- @entries.each do |entry|
  %article
    .article_inner
      .content
        %header
          %h2
            %a{:href => "#{entry.rel_url}"} #{entry.title}
          .meta
            %span.date published at #{entry.date}
          %p
            #{raw entry.summary}
          .more
            %a{:href => "#{entry.rel_url}"} waffle! waffle! &raquo;
