<!doctype html>
<!-- paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/ -->
<!--[if lt IE 7]> <html class="no-js ie6" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js ie7" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js ie8" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head>
  <meta charset="utf-8">

  <!-- Always force latest IE rendering engine (even in intranet) & Chrome Frame
       Remove this if you use the .htaccess -->
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

  <title><%= @title %></title>
  <link rel="alternate" type="application/atom+xml" title="<%= @title %> - feed" href="/index.xml" />
  <meta name="description" content="Ruby / Rails / Vim / System Development / Pon de Lionといったことを @mah_lab が書き綴るBlogです。">
  <meta name="author" content="@mah_lab">

  <!-- Mobile viewport optimized: j.mp/bplateviewport -->
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!-- Place favicon.ico & apple-touch-icon.png in the root of your domain and delete these references -->
  <link rel="shortcut icon" href="/favicon.ico">

  <!-- CSS: implied media="all" -->
  <%= stylesheet_link_tag 'application' %>

  <%= csrf_meta_tag %>


  <!-- All JavaScript at the bottom, except for Modernizr which enables HTML5 elements & feature detects -->
  <%= javascript_include_tag 'modernizr-1.7.min' %>

</head>

<body class="home">
<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) {return;}
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/ja_JP/all.js#xfbml=1&appId=207966559246407";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

<div id="page">
  <header id="head">
    <div class="head_inner">
      <ul>
        <li class="logo"><a href="/"><%= image_tag "mahlogo.gif", :width => "270", :height => "90", :border => "0" %></a></li>
      </ul>
    </div>
  </header>
  <div id="main" role="main">
    <%= yield %>
  </div>
  <footer id="foot">
    <div class="foot_inner">
      <h4>about</h4>
      <p>Ruby / Rails / Vim / System Development / Pon de Lionといったことを @mah_lab が書き綴るBlogです。「もう、Railsが動かないサーバがないなんて言わせない」でおなじみのheroku様の提供でお送りしております。</p>
      <p>タイトルのポンデライオンは <a href="http://twitter.com/minus13">@minus13</a> が描いてくれました。</p>
      <p>powered by <a href="https://github.com/mahm/mah-lab-engine">mah-lab-engine</a> on <a href="http://heroku.com/">heroku</a></p>
      <h4>elsewhere</h4>
      <ul>
        <li><a href="/">index</a> / トップページへ戻ります</li>
        <li><a href="/backnumber">back number</a> / 過去の記事</li>
        <li><a href="http://twitter.com/mah_lab">twitter</a> / 赤裸々すぎるtweetばかりしています</li>
        <li><a href="http://github.com/mahm">github</a> / fork気味です</li>
        <li><a href="/index.xml">rss feed</a> / RSSなのですよ</li>
      </ul>
      <h4>contact</h4>
      <p>ご意見・ご感想は rootmoon at gmail.com まで。お待ちしています。twitterでもお気軽にmentionを送ってください。</p>
      <p></p>
    </div>
  </footer>
</div> <!--! end of #container -->


  <!-- JavaScript at the bottom for fast page loading -->

  <!-- Grab Google CDN's jQuery, with a protocol relative URL; fall back to local if necessary -->
  <%= javascript_include_tag '//ajax.googleapis.com/ajax/libs/jquery/1.6/jquery.js' %>
  <%= javascript_tag %{window.jQuery || document.write(unescape('%3Cscript src="/assets/jquery-1.6.min.js"%3E%3C/script%3E'))} %>

  <%= javascript_include_tag 'application' %>

  <%- if Rails.env.production? -%>
    <!-- mathiasbynens.be/notes/async-analytics-snippet Change UA-XXXXX-X to be your site's ID -->
    <script>
      var _gaq=[["_setAccount","UA-XXXXX-X"],["_trackPageview"],["_trackPageLoadTime"]];
      (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];g.async=1;
      g.src=("https:"==location.protocol?"//ssl":"//www")+".google-analytics.com/ga.js";
      s.parentNode.insertBefore(g,s)}(document,"script"));
    </script>
  <%- end -%>

</body>
</html>
