<!DOCTYPE html>
<html>
<head>
  <title><%= @title %></title>
  <link rel="alternate" type="application/atom+xml" title="blog.mah-lab.com" href="http://blog.mah-lab.com/index.xml" />
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
